*{
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a{
    text-decoration: none;
}

body{
    margin: auto;
}